<img src="{{ site.baseurl }}/img/municipio.svg" alt="Logo alcaldía de Guayaquil" width="164px" class="bwt-logo">
<h2 class="alignCenter">DIRECCIÓN DE CULTURA</h2>
<h3 class="alignCenter"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>

<section class="hero is-medium is-bold">

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-fullwidth">
        <div class="centro">
          <ul>
            <li><a href="https://www.salondejulio.com">SALÓN DE JULIO</a></li>
            <li><a href="http://www.museoarteyciudad.com">MUSIMUESTRAS 2017</a></li>
          </ul>
        </div>
      </nav>
    </div>
    </div>

 </section>
