<section id="info-box" class="section">
<div class="container">
<div class="columns">

  <div class="column has-text-centered is-one-third">
    <svg width="20" height="20" class="Icon Icon--compu" aria-hidden="true">
      <use xlink:href="/img/icons.svg#compu"></use></svg>
      <div class="content">
        <h4>ATENCIÓN</h4>
        <p>Con mucho gusto atendemos a nuestra comunidad los días laborables de <strong><br />09h00 a 17h00.</strong></p>
      </div>
  </div>

  <div class="column has-text-centered is-one-third">
    <svg width="20" height="20" class="Icon Icon--house" aria-hidden="true">
      <use xlink:href="/img/icons.svg#house"></use></svg>
    <div class="content">
      <h4>DIRECCIÓN QUITO</h4>
      <p><strong>La Floresta</strong><br />
        Av. Isabel La Católica N24-235<br />
        y Galicia.</p>
    </div>
      <div class="content">
        <h4>DIRECCIÓN GUAYAQUIL</h4>
        <p><strong>Acuarela del Río</strong><br />
          Mz. 1147, Solar 02<br />
          Oficina A-1</p>
      </div>
    </div>


  <div class="column has-text-centered is-one-third">
    <svg width="20" height="20" class="Icon Icon--tel" aria-hidden="true">
      <use xlink:href="/img/icons.svg#tel"></use></svg>
      <div class="content">
      <h4>CONTÁCTENOS</h4>
    <p><strong>Teléfonos Quito:</strong><br/>098 893 5067 / 099 728 5653</p>
    <p><strong>Teléfonos Guayaquil:</strong><br/>099 885 8685 / 099 631 1964</p>
    <p><strong>e-mail:</strong><br/> mcabezas@ferrumexpress.com</p>
  </div>
        <a href="mailto:mcabezas@ferrumexpress.com" class="button is-success">Escríbenos</a>
  </div>

</div>
</div>
</section>
