<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  {% include header-b.html %}

        {{ content }}

  {% include footer.html %}

  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>
  <script src="/js/blog.js"></script>
  <!-- jQuery library (served from Google) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <!-- Slider -->
  <script src="/js/jquery.bxslider.min.js"></script>
  <script>
          $(document).ready(function(){
            $('.bxslider').bxSlider({
        mode: 'fade',
        auto: true

      	});
          });
  </script>
</body>

</html>
